.table-link {
    text-decoration: none;
}

.table-link:hover {
    opacity: 0.7;
}

.ws-nowrap-table td, .ws-nowrap-table th {
    white-space: nowrap;
}

/* AUTOCOMPLETE MENU */
.v-menu__content .v-list-item__mask {
    color: black !important;
    background: yellow !important;
}
