.table-link {
    text-decoration: none;
}

.table-link:hover {
    opacity: 0.7;
}

.ws-nowrap-table td, .ws-nowrap-table th {
    white-space: nowrap;
}

/* AUTOCOMPLETE MENU */
.v-menu__content .v-list-item__mask {
    color: black !important;
    background: yellow !important;
}

.card-title--clickable:hover {
    opacity: 0.7;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
}

.user-manual-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #000 !important;
}

.user-manual-card > .v-card__text {
    color: #000 !important;
    font-weight: 500;
}

.user-manual-tab-card {
    background-color: transparent !important;
    color: #000 !important;
}

.user-manual-tab-card > .v-card__text {
    color: #000 !important;
    font-weight: 500;
}

.user-manual-tab {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
